[push]
	autoSetupRemote = true
[pull]
	ff = only
[user]
	name = Cristian Betivu
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	features = side-by-side line-numbers decorations
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
[diff]
	tool = vimdiff
	colorMoved = default
[merge]
	summary = true
	log = true
	tool = vimdiff
	conflictstyle = diff3
	prompt = false
[rerere]
	enabled = true
[submodule]
	recurse = true
[alias]
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	lr = log --walk-reflogs --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	st = status --short
	amend = commit --amend --no-edit --reset-author
	wtl = worktree list
	wta = worktree add
	wtab = "!bash -ec 'if (( $# == 0)); then echo >&2 git wtab: 1 parameter expected; exit 2; fi; branch=$2; git worktree add \"$1\" $(git rev-parse ${branch:-master}) -b \"$1\"'"
	wtar = "!bash -ec 'if (( $# != 1)); then echo >&2 git wtar: 1 parameter expected; exit 2; fi; git worktree add --guess-remote --track \"$1\" \"$1\"'"

[includeIf "gitdir:~/projects/languagewire/**"]
    path = ~/.gitconfig-languagewire
[branch]
	sort = -committerdate
[diff "exif"]
	textconv = exiftool
