#!/bin/sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

# Fix Gnome Apps Slow  Start due to failing services
# Add this when you include flatpak in your system
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY


# when on laptop, with patched xrandr version, set display to perfect 2x scaling
# https://forums.linuxmint.com/viewtopic.php?t=159064
PATCHED="$HOME/.local/bin/xrandr/xrandr/xrandr"
[[ -f $PATCHED ]] && [[ "$(hostname)" == "asgard" ]] && $PATCHED --output eDP-1 --mode 3840x2160 --scale "0.5x0.5"


# wal -n -R # generate and expose colors with wal based on cache
# [[ -f "$HOME/.Xresources" ]] && xrdb -merge -I$HOME "$HOME/.Xresources"
# [[ -f "$HOME/Scripts/keymap.sh" ]] && sh "$HOME/Scripts/keymap.sh"


remaps &		# run the remaps script, switching caps/esc and more; check it for more info
setbg &			# set the background with the `setbg` script
#xrdb ${XDG_CONFIG_HOME:-$HOME/.config}/Xresources &	# Uncomment to use Xresources colors/settings on startup
xcompmgr &		# xcompmgr for transparency
dunst &			# dunst for notifications
xset r rate 300 50 &	# Speed xrate up
unclutter &		# Remove mouse when idle
picom -c -b
